.input-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.label {
    font-size: 17px;
    text-transform: capitalize;
    color: var(--text-secondary-color);
}

.input {
    width: 100%;
    padding: 20px;
    font-size: 17px;
    color: var(--text-color);
    border: 1px solid var(--separator-color);
    border-radius: 10px;
}

.input::placeholder {
    text-transform: capitalize;
    color: var(--gray-color);
}

.input:focus {
    outline: none;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px var(--white-color) inset !important;
    -webkit-text-fill-color: var(--text-color);
}