.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
    border: none;
    font-family: inherit;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 16px;
}

.small {
    padding: 15px 30px;
    text-transform: capitalize;
}

.big {
    padding: 20px 60px;
    text-transform: uppercase;
}

.accent {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.accent:hover {
    background-color: var(--primary-hover-color);
}

.accent:active {
    background-color: var(--primary-active-color);
}